@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

::-webkit-scrollbar {
  width: 0.815rem;
}
::-webkit-scrollbar-track {
  background: #9e9ea0;
}
::-webkit-scrollbar-thumb {
  background: #9b79ea;
  border-radius: 2.2rem;
}
